CorySynthUI/CorySynthUI.Windows/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleDataSource" targetNamespace="Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="MidiChannel" type="tns:MidiChannel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MidiChannel">
    <xs:sequence>
      <xs:element name="Voices" type="tns:Voices1" />
      <xs:element name="Effects" type="tns:Effects" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Voices1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="VoicesItem1" type="tns:VoicesItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VoicesItem1">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Effects">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="EffectsItem" type="tns:EffectsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EffectsItem">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>